nbbuild/
build/
debian/.mh/
debian/files
debian/fop-doc.debhelper.log
debian/fop-doc.substvars
debian/fop-doc/
debian/fop.debhelper.log
debian/fop.substvars
debian/fop/
debian/stamp-ant-build
nbproject/build-impl.xml
nbproject/genfiles.properties
nbproject/private/
